/* TaskCard.css */
.task_card {
    width: 100%;
    min-height: 100px;
    border: 1px solid #d9dad7;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
}

.task_text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.task_card_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_delete {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover {
    width: 20px; /* Küçük yazım hatası düzeltildi: '20x' yerine '20px' */
}

.delete_icon {
    width: 22px;
    opacity: 50%;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover .delete_icon {
    opacity: 80%;
}

/* Responsive düzenleme */
@media (max-width: 768px) {
    .task_card {
        padding: 10px;
        margin: 10px 0;
    }

    .task_text {
        font-size: 16px;
    }

    .task_delete {
        width: 30px;
        height: 30px;
    }

    .delete_icon {
        width: 20px;
    }
}
